{% extends 'base_home.html' %}

{% block options %}
    <div class="option_container">
        <div class="student_option"><a href="{{ url_for('student_your_courses') }}"> Your Courses </a></div>
        <div class="student_option_active"><a href="{{ url_for('student_add_courses') }}"> Add Courses </a></div>
    </div>
{% endblock %}

{% block content %}
    <div class="table_container">
        <table>
            <tr>
                <th>Course Name</th>
                <th>Teacher</th>
                <th>Time</th>
                <th>Students Enrolled</th>
                <th>Add Class</th>
            </tr>
        </table>
    </div>
{% endblock %}