{% extends 'base_home.html' %}

{% block options %}
    <div class="option_container">
        <button><a href ="{{url_for('teacher_home')}}">back</a></button>

        {% for row in rows %}
        <div class="teacher_option_active"> {{ row.course_name }} </div>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
    <div class="table_container">
        <table>
            <tr>
                <th>Student Name</th>
                <th>Grade</th>
            </tr>
            {% for row in rows %}
            <tr>
                <td>{{row.name}}</td>
                <td>{{row.grade}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}